body {
    margin-bottom: 2vh;
    height: 100%;
    background-color: #dbcbb5;
}
.secundary_image {
    height: 20vh;
    width: 23vh;
    border: solid lightblue;
}
.pricipal_image {
    border: solid lightblue;
}